/*#3a4750*/
/*#3a4750*/
#front-layout {
  /*Full Front layout nested inside here */
}

#front-layout .front-layout-up {
  max-width: 65%;
  padding: 2.8% 2% 3% 4%;
}

#front-layout .front-layout-up h1 {
  color: #29363f;
  font-size: 2.6rem;
  padding-bottom: 1%;
}

#front-layout .front-layout-up p {
  color: #29363f;
  line-height: 1.5;
}

#front-layout .front-layout-mid {
  display: flex;
  justify-content: space-between;
  padding: 2.8% 2% 0% 4%;
}

#front-layout .front-layout-mid p {
  color: #d3cccc;
  font-size: 0.8rem;
}

#front-layout .front-layout-mid h1 {
  color: #29363f;
  font-size: 2.2rem;
  display: inline-block;
}

#front-layout .front-layout-mid .button-1 {
  /*using mixin //pracitce */
  border: none;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1rem;
  background-color: #39c5a7;
  color: #FFFFFF;
  position: absolute;
  left: 82%;
}

#front-layout .front-layout-down {
  padding: 2.8% 0% 3% 3%;
}

#front-layout .front-layout-down img {
  margin: 1%;
  height: 255px;
  width: 385px;
  cursor: pointer;
}

/*#3a4750*/
#about-layout {
  /*About section of the page : FULL*/
  padding: 2.8% 2% 3% 0%;
  color: #29363f;
}

#about-layout i {
  float: left;
  margin: 10%;
  margin-top: 2%;
  height: 45px;
  width: 40px;
}

#about-layout div {
  display: inline-block;
  max-width: 26%;
  margin: 2%;
}

#about-layout div p {
  line-height: 1.5;
}

/*#3a4750*/
#bottom-layout {
  padding: 2.8% 2% 3% 4%;
  background-color: #eee;
}

#bottom-layout img {
  height: 20px;
  padding: 9px;
  border-radius: 2rem;
  border: 2px solid #494949;
  margin-left: 48.2%;
  margin-bottom: 3%;
}

#bottom-layout p {
  text-align: center;
  line-height: 1.8;
  color: #494949;
}

#bottom-layout p strong {
  color: #29363f;
}

/*#3a4750*/
#footer {
  /*footer section of the web page */
  padding: 3% 2% 3% 4%;
  background-color: #29363f;
  height: 300px;
}

#footer section {
  max-width: 29%;
  float: left;
  padding-right: 9%;
}

#footer section h1 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5%;
}

#footer section p {
  color: #d3cccc;
  line-height: 1.5;
  font-size: 1.1rem;
}

#footer .footer-blog div {
  padding-right: 0;
  width: 120%;
  margin: 0 0  2rem;
}

#footer .footer-blog h3 {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 400;
}

#footer .footer-blog p {
  color: #d3cccc;
  font-size: 0.8rem;
}

#footer .footer-blog img {
  float: left;
  margin-bottom: 2px;
  padding: 1%;
  padding-right: 5%;
}

#footer .footer-instagram p {
  padding: 20% 40% 10% 10%;
}

.footer-end {
  background-color: #1c252c;
  padding: 2.2% 4%;
}

.footer-end p {
  color: #d3cccc;
}

* {
  margin: 0%;
  border: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  /*top nav bar*/
  background-color: #29363f;
  padding: 3.5% 4.5% 7.5% 4%;
}

nav ul li {
  list-style-type: none;
  float: left;
  color: #d3cccc;
  margin-right: 2%;
  cursor: pointer;
}

nav ul .vertical-line {
  border-left: 1px solid #d3cccc;
  height: 50px;
}

nav ul .header-text {
  max-width: 20%;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

nav ul .social-icons {
  position: absolute;
  left: 80.5%;
  top: 8.5%;
}

/*breadcrumb nav bar*/
.breadcrumb {
  padding: 1.8%;
  padding-left: 4%;
  list-style: none;
  background-color: #eee;
}

.breadcrumb li {
  display: inline;
  font-size: 1rem;
}

.breadcrumb li a {
  color: #29363f;
  font-weight: 600;
}

.breadcrumb li .active-nav-item {
  color: #51c2d5;
}

.breadcrumb input {
  margin-left: 49%;
  padding: 0.25%;
  border: 2px solid #d3cccc;
  cursor: pointer;
  font-size: 1rem;
}

/*selects the first li element after the li element i.e li+li*/
.breadcrumb li + li:before {
  padding: 8px;
  color: #222831;
  content: "/\00a0";
}

/*horizontal row edit*/
hr {
  margin: 2%;
  margin-left: 4.2%;
  width: 22.52%;
  display: inline-block;
  height: 2.5px;
  background-color: #eee;
  border: 0;
}
/*# sourceMappingURL=style.css.map */