$header-color : #29363f; /*#3a4750*/
$footer-color: #222831;
$header-text : #d3cccc;
$breadcrumb-nav : #eee;
$black : #333;
$light-blue : #51c2d5;
$button-background : #39c5a7;
$white : #FFFFFF;
$grey : rgb(73, 73, 73);
$footer-end-color : #1c252c;